:root{
    --mainColor:#15202B;
    --secondaryColor:#192734;

    --borderColor:#c1c1c1;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themedotborder:#fff;

    --previewBG: rgba(25,39,52,0.8);

    --previewShadow:#111921;
    --buttonColor: #17a2b8;

}
